ul {
  list-style-type: none;
  text-align: center;
  width: 120px;
  padding: 0;
}

li {
  background-color: #00F;
  color: rgb(243, 211, 232);
  border: 2px solid rgb(248, 250, 249);
}

li a {
  color: rgb(250, 246, 246);
  text-decoration: none;
  display: block;
  width: 100%;
}

li a:hover, li a:focus {
  outline: 2px solid rgb(230, 21, 21);
}