a {
    color: #F00;
    text-decoration: none;
  }
  
 /* a:visited {
    color: rgb(25, 80, 25);
  }
  */
  
  a:hover {
    color: #FFF;
    background-color: #F00;
    text-decoration: underline;
  }
  
  a:focus {
    color: rgb(5, 78, 33);
    /*text-decoration: underline;*/
  }
  
  a:active {
    color: #F60;
    background-color: #FFF;
    text-decoration: none;
  }