table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  table, tr, th, td {
    border: 1px solid #333;
    line-height: 2em;
  }
  
  th {
    background-color: #F5F5F5;
    padding: 0 .5em;
  }
  
  td {
    padding: 0 .3em;
  }
  

  tr:nth-child(n+1) td {
    text-align: right;
  }
  
  tr:nth-child(2n) {
    background-color: #FFFFCC;
  }
  
  tr:hover {
    background: #FFFF66;
  }
  .e{
    color : orangered ;
  }

  .d{

    color : green ;

  }

  .l{
    color :blue ;
  }

  .y{
    color : green ;
  }
