.estilo {
    color: rgb(255, 192, 56);
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif
  }
  
  .estructura1 {
    float: right;
    margin-top:auto;
  }
  
  .bloque {
    background-color: rgb(1, 1, 148)  ;
    height: 40px;
    margin: 10px;
  }
  
  .primerBloque {
    width: 150px;
    border: solid 1px rgb(36, 35, 35);
    margin: 10px;
    padding: 5px;
  }
  
  
  .segundoBloque{
    border:dotted 2px red;
    width: 150px;
    margin: 10px;
    padding: 5px;
  }
  
  .imagen {
    width: 150px;
    height: 150px;
    float: left;
    margin: 15px;
  }
  
  
  .parte1 {
    float: left;
    width: 150px;
    margin:15px;
  }
  
  .parte3 {
    float: left;
    width: 200px;
    margin:5px;
    border: solid 1px orange;
    padding: 5px;
  }
  
  .parte2 {
    float: left;
    width: 600px;
    margin:15px;
  }
  
  .letra {
    padding: 10px;
    background-color: orange;
    margin-top: 0px;
  }
  body {
    margin: 5px;
  }
  
  .reducc {
    margin-top: 0;
  }
  
  .letra {
    font-size: 20px;
  }
  .cuartoBloque {
    border: solid 1px rgba(216, 216, 216, 0.877);
    float: left;
    width: 90%;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
    text-align: center;
  }
  
  .izquierda {
    float: left;
    margin: 4px;
  }
  
  .derecha {
    float: right;
  }