/*
#galeria { 
   
    max-width: 10px;
  }
  #galeria img {
    float: left;
    margin: 1em;
    padding: .5em;
    border: 1px solid #CCC;
  }
  */
  div {
    margin-left: 60px;
  }
  img {
    margin: 20px;
    height: 200px;
    width: 250px;
  }
  