.Parafo-1{
  color: rgb(19, 15, 226);
}

.Parafo-2{
  font-family: Verdana;
}

.Parafo-3{
  font-family: Tahoma;
}

.Parafo-4 {
  font-family: 'Dancing Script'; 

}

.Parafo-5 {
  font-family: 'Qahiri', sans-serif;
  font-family: 'Great Vibes', cursive;
}